body {
    margin: 0;
    font-family: sans-serif;
    background-color: #181515;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

.header {
    background: url('assets/links/placeholder.png') center/cover no-repeat;
    z-index: 1;
    position: relative;
}

.content {
    color: white;
    padding: 2rem;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 6rem 1.5rem 1.5rem 1.5rem;
    margin: -100px auto 2rem auto;
    position: relative;
    z-index: 2;
}

.card-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 0.3s ease;
}

.card-img img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.location {
    color: #808080;
    display: flex;
    align-items: center;
    gap: 8px;
}

.location img {
    height: 17px;
    width: 16px;
}

.profile-btn {
    background-color: #181515;
    margin-top: 20px;
    justify-content: center;
}

.profile-btn:hover {
    background-color: rgb(12, 10, 10);
    transition: 0.3s ease;
}

#email {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 15px;
}

a {
    text-decoration: none;
    color: white;
}

#email img {
    width: 20px;
}

.row {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.working {
    margin-top: 20px;
}

.bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    max-width: 700px;
    width: 100%;
    gap: 20px;
}

.bar-link {
    width: 100%;
}

.bar {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #231f1f;
    padding: 8px 8px 8px 28px;
    border-radius: 8px;
    position: relative;
    max-width: 700px;
    width: calc(100% - 20px);
    margin-left: 20px;
}

.bar:hover .bar-img {
    transform: translateY(-5px);
}

.bar:hover .bar-arrow {
    transform: translateX(5px);
}

.bar-img {
    width: 65px;
    height: 65px;
    margin-left: -50px;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.bar-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.bar-text p {
    color: #808080;
}

#first .bar-img {
    box-shadow: 0 5px 10px rgba(61, 60, 168, 0.4);
}

#second .bar-img {
    box-shadow: 0 5px 10px rgba(40, 154, 216, 0.4);
}

#third .bar-img {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

#fourth .bar-img {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

#fifth .bar-img {
    box-shadow: 0 5px 10px rgba(41, 165, 182, 0.3);
}

.bar-arrow {
    transition: transform 0.4s ease;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

.bar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .header {
        height: 150px;
    }

    .card-img {
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .card {
        padding-top: 12.5rem;
    }

    .profile-btn {
        background-color: #231f1f;
    }
}

@media (min-width: 481px) {
    .header {
        height: 200px;
    }

    .card {
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        max-width: 700px;
        background-color: #231f1f;
    }

    .card-img {
        top: 0;
    }

    .profile-btn {
        background-color: #181515;
    }
}